/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

body {
  background: url('https://78.media.tumblr.com/36b026cfa950392c5f27a6774ce029d2/tumblr_p05ozhpjzc1uq7yj2o1_500.gif') repeat-y 100% 100% fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  filter: alpha(opacity=80);
  /*
  background: url('http://0.media.collegehumor.cvcdn.com/70/45/9d37320a849fdd2f37d4de18cf0c0c2d.gif')repeat-y 100% 100% fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  filter: alpha(opacity=80)
  */
}

